<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <!-- Targets -->
  <targets async="true">
    <!-- File Target -->
    <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
            archiveFileName="${basedir}/logs/archives/${shortdate}.{##}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />
    
    <!-- Console Target -->
    <target xsi:type="Console"
            name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
    
   
  </targets>

  <!-- Rules -->
  <rules>
    <!-- All logs to file -->
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    
    <!-- Console output for development -->
    <logger name="*" minlevel="Info" writeTo="coloredConsoleTarget" />
    
    <!-- Project-specific logs -->
    <logger name="ProjectTaskManager.*" minlevel="Debug" writeTo="fileTarget,consoleTarget" final="true" />
    
    <!-- Microsoft logs to Warning level only -->
    <logger name="Microsoft.*" minlevel="Warn" final="true" />
    <logger name="System.*" minlevel="Warn" final="true" />
  </rules>
</nlog>