<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

  <targets async="true">
    <target xsi:type="File"
            name="fileTarget"
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />

    <target xsi:type="ColoredConsole"
            name="consoleTarget"
            layout="${longdate}|${level:uppercase=true}|${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileTarget" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>